.circles{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    background: rgba(255, 255, 255, 0.3);
    animation: animate 5s linear infinite;
    bottom: -150px;
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-duration: 8s;
    animation-delay: 0s;
}
.circles li:nth-child(2){
    left: 10%;
    width: 30px;
    height: 30px;
    animation-delay: 2s;
    animation-duration: 7s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration:6s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 50px;
    height: 50px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 60px;
    height: 60px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 70px;
    height: 70px;
    animation-delay: 15s;
    animation-duration: 30s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 20s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 55px;
    height: 55px;
    animation-delay: 0s;
    animation-duration: 9s;
}
.circles li:nth-child(11){
    left: 57%;
    width: 65px;
    height: 65px;
    animation-delay: 0.6s;
    animation-duration: 8s;
}

.circles li:nth-child(12){
    left: 3%;
    width: 38px;
    height: 38px;
    animation-delay: 0.6s;
    animation-duration: 8s;
}

.circles li:nth-child(13){
    left: 16%;
    width: 47px;
    height: 47px;
    animation-delay: 3s;
    animation-duration: 9s;
}

.circles li:nth-child(14){
    left: 35%;
    width: 40px;
    height: 40px;
    animation-delay: 1s;
    animation-duration: 8s;
}

.circles li:nth-child(15){
    left: 7%;
    width: 50px;
    height: 50px;
    animation-delay: 1s;
    animation-duration: 9s;
}

.circles li:nth-child(16){
    left: 80%;
    width: 60px;
    height: 60px;
    animation-delay: 3s;
    animation-duration: 9s;
}

.circles li:nth-child(17){
    left: 77%;
    width: 75px;
    height: 75px;
    animation-delay: 6s;
    animation-duration: 5s;
}

.circles li:nth-child(18){
    left: 89%;
    width: 30px;
    height: 30px;
    animation-delay: 5s;
    animation-duration: 10s;
}

.circles li:nth-child(19){
    left: 93%;
    width: 45px;
    height: 45px;
    animation-delay: 0s;
    animation-duration: 5s;
}

.circles li:nth-child(20){
    left: 58%;
    width: 50px;
    height: 50px;
    animation-delay: 3s;
    animation-duration: 8s;
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
@media (max-width: 990px){
    .circles li:nth-child(19) {
        left: 90%;
    }
}